* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #fff;
  scroll-behavior: smooth;
}

/*----------------- bloques : header main footer-------------- */
.contenedor {
  width: 100%;
  max-width: 1200%;
  /* margin: 20px auto; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);

  grid-template-areas:
      "header"
      "main"
      "footer";
}

.contenedor .header,
.contenedor .main,
.contenedor .footer {
  background-color: rgb(20, 97, 71);
  /* padding: 10px; */
}
.contenedor .header{
  grid-area: header;
  background-color: #841934;
  color: aliceblue;
  height: 150px;
}

.contenedor .main{
  grid-area: main;
  background-color: #490009;
}

.contenedor .footer{
  grid-area: footer;
  background-color: #010a1c;
  color: aliceblue;
}
/* ------------------- navbar ------------------- */

a{
  text-decoration: none;
}
#navbar{
  background-color: #490009;
}
#navbar a{
  color: #fff;
}
#navbar .logo{
  float: right;
  width:100px;
  height:100px;
  border-radius:50px;
}
#navbar ul{
  list-style: none;
  text-transform: uppercase;
  float: left;
}
#navbar li{
  float: left;
}
#navbar li a{
  padding: 20px;
  display: block;
  text-align: center;
}
#navbar li a:hover{
  background-color: #490009;
}

/* ------------ bloques secciones -------------------- */
.section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.section .left {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}

.section .right {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(100, 62, 62); */
}
.section .article-img{
  padding: 10px;
  border-radius: 20px;
}

.section p{
  padding: 10%;
  text-align: justify;
}

#home,#nosotros{
  background-color: white;
  color: #490009;
}
#clima{
  background-color: #841934;
  height: 50vh;
}
#clima h2{
  display: block;
}

/* ------------------Formulario--------------- */

form .form-group {
  margin-bottom: 1rem;
  text-align: left;
}

form .form-group label{
  color: #fff;
}

form .form-control {
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1rem;
  line-height: 1.7;
  color: #fff;    
  /* border: none; */

}

/* Boton Form */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-light {
  background: #841934;
  border: 1px solid #841934;
  color: #fff;
  width: 100%;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #841934;
  color: #841934;
}

/* ----------------- seccion clima ------------------ */

.seccion-climas {
  /* background-color: black; */
  color: aliceblue;
  width: 100%;
  margin: 20px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-climas .formulario-climas {
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 10px;
  width: 50%;
  padding: 30px;
}

.seccion-climas .formulario-clima-hoy {
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 30px;
}

.seccion-climas .formulario-clima-hoy tr,
th {
  color: #000000;
}

.seccion-climas .formulario-clima-hoy tr,
td {
  color: #4d4d4d;
}

.seccion-climas .formulario-climas tr th{
  color: #fff;
}
.seccion-climas .formulario-climas tr td{
  color: #fff;
}