
* {
  margin: 0;
  padding: 0;
  font-family: 'Aboreto', cursive;
}

html,
body {
  color: #fff;
  scroll-behavior: smooth;
}

/*----------------- bloques : header main footer-------------- */
.contenedor {
  width: 100%;
  max-width: 1200%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);

  grid-template-areas:
      "header"
      "main"
      "footer";
}

.contenedor .header,
.contenedor .main,
.contenedor .footer {
  background-color: rgb(20, 97, 71);
}

.contenedor .header {
  grid-area: header;
  background-color: #841934;
  color: aliceblue;
  height: 150px;
}

.contenedor .main {
  grid-area: main;
  background-color: #490009;
}

.contenedor .footer {
  grid-area: footer;
  background-color: white;
  height: 100px;
  border-top: 1px #490009 solid;
  display: block;

}

/* ------------------- footer ------------------- */

.wsp{
 color:  #490009;
 text-align: center;
 margin-left: 40%;
 width: 20%;
 font-size: 2em;

}

#logo-wsp{
  width: 80px;
  height: 80px;
  text-align: center;
  margin-left: 48%;
  margin-top: 1em;
}

#nombres{
  width: 40%;
  font-size: 1em;
  margin-left: 30%;  
  letter-spacing: 2px;
}

/* ------------------- navbar ------------------- */


a {
  text-decoration: none;
}

#navbar  {
  background-color: #490009;
  height: fit-content;

}

#navbar a {
  color: #fff;
  font-size: 25px;
}

#navbar .logo {
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-top: 25px;
  margin-right: 30px;
}

#navbar ul {
  list-style: none;
  text-transform: uppercase;
  float: left;
  margin-top: 50px;
  width: 60%;
  height: 100%;
}

#navbar li {
  float: left;
  height: 80%;
  width: 30%;
}

#navbar li a {
  padding: 20px;
  display: block;
  text-align: center;
}

#navbar li a:hover {
  background-color: #490009;
}

/* ------------ bloques secciones -------------------- */
.section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.section .left {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .right {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .article-img {
  padding: 10px;
  border-radius: 20px;
}

.article-img {
  width: 880px;
  height: 696px;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.7));
}

.article-title-1 {
  font-size: 6em;
}

.article-title-2 {
  font-size: 2.5em;
}

.article-title {
  font-size: 3em;
  margin-top: 10px;
}

.article-video {
  width: 880px;
  height: 696px;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.7));

}

.article-txt {
  font-size: 1.5em;
}

.section p {
  padding: 10%;
  text-align: justify;
  text-transform: lowercase;
}

#home,
#nosotros {
  background-color: white;
  color: #490009;
}

#clima {
  background-color: #841934;
  height: 50vh;
}

#clima h2 {
  display: block;
}

/* ------------------Formulario--------------- */

.container-form {
  width: 90%;
  height: 90%;
  border: 1px white double;
}

.contact-form {
  margin-top: 0%;
  padding: 10%;
  padding-bottom: 0px;
}

.boton-form {
  margin-top: 3px;
  padding: 10%;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.7;

}

form .form-group {
  margin-bottom: 1rem;
  text-align: left;
}

form .form-group label {
  color: #fff;
  font-size: 1.5em;
}

form .form-control {
  width: 100%;
  height: 45px;
  font-size: 1em;
  line-height: 1.7;
  border: none;

}

.form-title {
  font-size: 2.5em;
  margin-bottom: 10%;
}

/* Boton Form */
.btn {
  display: inline-block;
  font-size: 1.5em;
  padding: 14px 0px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 0px;
}

.btn-light {
  background: #841934;
  border: 1px solid #841934;
  color: #fff;
  width: 100%;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #841934;
  color: #841934;
}

/* ----------------- seccion clima ------------------ */

.seccion-climas {
  color: aliceblue;
  width: 100%;
  text-align: center;
}

.titulo-clima {
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
}

#div-titulo-clima {
  padding-top: 40px;
}

#div-titulo-clima h2 {
  font-size: 2em;
}

.article-clima-hoy {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr;
}


.seccion-climas .formulario-climas {
  background-color: rgba(255, 255, 255, 0.1);
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-top: 4%;
  border-radius: 10px;
}

.seccion-climas .formulario-clima-hoy {
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
  height: 60%;
  border-radius: 10px;
  margin-left: 50%;
  margin-top: 10%;
}

.seccion-climas .formulario-clima-hoy tr,
th {
  color: #000000;
}

.seccion-climas .formulario-clima-hoy tr,
td {
  color: #4d4d4d;
}

.seccion-climas .formulario-climas tr th {
  color: #fff;
}

.seccion-climas .formulario-climas tr td {
  color: #fff;
}